/* Element Selector */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

p{
    font-size: 1.6rem;
    line-height: 1.5rem;
}

img{
    width: 100%;
}

/* Class Selector */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2rem;
}

.quiz-box {
   width: 600px;
   margin: 0 auto;
   background-color: white;
   padding: 1rem 5rem 5rem 5rem;
   border: 3px solid purple;
   border-radius: 5px;
}

.quiz-box h1 {
    font-size: 2rem;
    text-align: center;
    color: purple;
    padding: 1rem 0;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 3px;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-header #progress {
    color: black;
    font-size: 1.6rem;
    font-weight: 700;
}

.quiz-header #count-down {
    font-size: 1.6rem;
    font-weight: 700;
    background-color: white;
    padding: 5px;
    margin: 1px;
    color: black;
}

.quiz-box #question {
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
    border: 1px solid gray;
    border-width: 1px 0;
    padding: 5px 0;
}

.btn{
    font-size: 20px;
    padding: 32px 0;
    width: 190px;
    text-align: center;
    margin-bottom: 16px;
    text-decoration: none;
    color: whitesmoke;
    background-color: purple;
    border-radius: 40px;
}

.btn:hover{
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1);
    opacity: 0.6;
}

.btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.answer-container {
    display: flex;
    margin-bottom: 13px;
    border-radius: 30px;
    width: 100%;
    background: purple;
    font-size: 50px;
    min-width: 100px;
}

.answer-container:hover{
    cursor: pointer;
    transition: transform 100ms;
    transform: scale(1.01);
    opacity: 0.8;
    box-shadow: blueviolet;
}

.answer-pre{
    padding: 32px 40px;
    color: whitesmoke;
}

.answer-text{
    padding: 32px;
    width: 100%;
}

.correct {
    background: green;  
}

.incorrect{
    background: red;  
}

/* Display */
#display {
    display: flex;
    justify-content: space-between;
}

.display-pre {
    text-align: center;
    font-size: 32px;
}

.display-main-text {
    text-align: center;
}

#progressTab {
    width: 320px;
    height: 48px;
    border: 3px solid white;
    margin-top: 32px;
    border-radius: 50px;
    overflow: hidden;
}


#progressFull {
    height: 100%;
    background:white;
    width: 0%;
}

/* ID Selector */
#high-score-btn {
    background-color: white;
    color: purple;
}

#high-score-btn:hover{
    box-shadow: lavender;
}

/* media queries */
@media screen and (max-width: 768px) {
    .answer-container {
        min-width: 640px;
    }
}

/* score page */

.end-form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
}
input{
    margin-bottom: 16px;
    width: 320px;
    padding: 20px;
    font-size: 30px;
    border: none;
}


